
<h1>Edit a Winner</h1>
<form action="/users/{{user.id}}/edit" method="post">
  <div class="form-group row">
    <label for="fname" class="col-2 col-form-label">First Name</label>
    <div class="col-10">
      <input class="form-control" type="text" id="fname" name="fname" value="{{user.fname}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="lname" class="col-2 col-form-label">Last Name</label>
    <div class="col-10">
      <input class="form-control" type="text"  id="lname" name="lname" value="{{user.lname}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="username" class="col-2 col-form-label">Username</label>
    <div class="col-10">
      <input class="form-control" type="text"  id="username" name="username" value="{{user.username}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-2 col-form-label">Email</label>
    <div class="col-10">
      <input class="form-control" type="email" id="email" name="email" value="{{user.email}}">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
